
  $clr1: #138389e4;
  $clr2: #ec593c;

  $clr1bg: #f2f3f7;
  $clr1bg-light: #ffffff;
  $clr2bg: #f9ad32;
  $clr2bg-light: #f9f3e3;

  $clr-error: #ec593c;

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);


$layoutPadding: 1.6rem;